<div class="filter-container">
    <span>Filter: </span>
    <input type="radio" name="filter" value="All" 
    [(ngModel)] = "SelectedRadioButtonValue"
    (change)="onRadioButtonSelectionChanged()"/>
    <span>All Courses({{all}})</span>
    <input type="radio" name="filter" value="Free" 
    [(ngModel)] = "SelectedRadioButtonValue"
    (change)="onRadioButtonSelectionChanged()">
    <span>Free Courses({{free}})</span>
    <input type="radio" name="filter" value="Premium" 
    [(ngModel)] = "SelectedRadioButtonValue"
    (change)="onRadioButtonSelectionChanged()">
    <span>Premium Courses({{premium}})</span>
</div>