<div class="container">
  <h1 setBackground >This is my first custom directive - setBackground</h1>
</div>
<div class="container">
  <h2 setBackground SetColor Hover>This is my second Custom Directive learning about the Renderer2 and 'HostListener' - setColor</h2>
</div>

<div class="container" Betterhighlight [defaultColor]="'yellow'" [highlightedColor]="'pink'" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: x-large;">
  <p>SetColor Betterhighlight This Custom Directive - learning about HostBinding </p>
</div>

<div class="container" appStyle [setStyle]="{backgroundColor:'red',color:'white'}">
                       
  <p>Custom Directive created to creae ngStyle functionality.. our custom directive name is appStyle </p>
</div>